
.main{
    width: 100%;
    overflow: auto;
}

.left-panel{
    float: left;
    width: 30%;
}

#bio{
    border: 1px solid black;
    padding: 35px;
    margin: 50px;
    margin-top: 20%;
}

.video{
    border: 1px solid black;
    padding: 35px;
    margin: 50px;
    margin-top: 5%;
    width: 80%
}

.right-panel{
    float: right;
    width: 60%
}

.painting-title {
    text-align: center;
    padding-right: 200px;
}

.painting-img{
    border: 1px solid black;
    padding: 35px;
    margin: 50px;
    margin-left: 20%;
    width: 40%
}


